*{
  margin: 0;
  padding: 0;
}

.App{
  height: 100vh; 
  background-color: rgb(235, 233, 233);
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.81);
}

.contenedor-calculadora{
  width: 400px;
  height: 500px;
  background-color: #000;
  border-radius: 20px;
}

.fila{
  display: flex;
  align-items: center;
  justify-content: center;
}

